@import "./styles/layout.css";
@import "./styles/nav.css";
@import "./styles/hover.css";
 
body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 100%;
    position: fixed;
}

header{
    overflow: hidden;
    height: 25%;
}
main{

    overflow: hidden;
    height: 50%;

}
footer{
    height: 25%;
    position: relative;
}
footer .bit{
    display: inline-block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 50%;
    width:30%; 
    border-radius: 10px;
    border: 2px solid #02577A;
   
}
footer p{
    display: inline-block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 80%;
    left: 50%;
    color: #02577A;
}

:root {
    background-color: #E5E5E5;
    
}