@import '../styles/3rd-party/font-awesome.min.css';

header p{
    font-weight: 500;
    font-size: 30px;
}
.hero{
    margin: 25px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.greetings{
    width: 40%;
    display: flex;
    border-radius: 25px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


.clock{
    width: 40%;
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.mainContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 45%;
    overflow: hidden;

}
.mainContent img{
    display: block;
    float: right;
    width: 95%;
    
}
.textContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textJohn{
    margin-top: 30px;
    border: 2px solid #02577A;
    border-radius: 25px;
    padding: 30px 155px;
}

footer .bit{
    /* display: inline-block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 50%; */
    width: 30%;
    border-radius: 10px;
    border: 0.5px solid #02577A;
    margin-bottom: 5px;
   
}
footer p{
    /* display: inline-block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%; */
    display: flex;
    justify-content: center;
    color: #02577A;
}
@media (max-width: 930px) {
    .textContent{
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
    }
    .textJohn{
        padding: 15px 105px;
    }
}
@media (max-width: 830px) {
    .hero{
        width: 90%;
        display: block;
        
    }
    .textJohn{
        padding: 20px 35px;
    }
    .greetings{
        margin-left: 20%;
        width: 70%;
    }
       
    .clock{
        margin-left: 20%;
        width: 70%;
    }

}
@media (max-width: 700px) {

    .textJohn{
        padding: 20px 45px;
        width: 80%;
    }
    .greetings{
        width: 70%;
    }
       
    .clock{
        width: 70%;
    }
    .textContent{
        display: block;
        margin-left: 30%;
    }
    .mainContent img{
        height: 320px;
    }

}


