.menu:hover p{
    color: #02577A;
}
.menu:hover{
    background-color: white;
}
.menu:hover .home{
    background-image: url(../assets/hover.svg);
}
ul:hover .text{
    color: #c4c4c4;
    cursor: pointer;
    display: inline;

}
ul:hover{
    width: 200px;
    transition: 2s;    
} 

