/* 
.main p:hover{
    color: #02577A;  
}
.menu:hover
{
    border-radius: 30px;
    padding: 10px 40px;
    background-color: white;
}
.menu > img{
    color: #c4c4c4;
}
img > .home:hover{
    background-image: url(../assets/hover.svg);
}

ul:hover .home, ul:hover .calendar, ul:hover .fe, ul:hover .games{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 10%;
    padding: none;
    display: none;

} */
