.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
 
.text{
    color: var(--font-color);
    cursor: pointer;
    display: none;
}
.text a{
    text-decoration: none;
}
.icons{
    align-items: center;
}

.lane{
    width:60%; 
    text-align:left; 
    background-color: var(--font-color);
    border: 2px solid var(--font-color);
    border-radius: 20px
}

ul{
    background-color: #F7F6FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    list-style-type: none;
    position: fixed;
    height: 100%;
    overflow: auto;
    width: 100px;
    transition: 2s;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content:left;
    gap: 20%;
    line-height: 20px;
    padding: 10px 30px;
    border-radius: 25px 25px;
}


nav{
    cursor: pointer;
    width: 90%;
    display: flex;
    flex-direction: column;
    /* transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    right: 0; */
}




    

    